*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color: #edeef0;
}

.wrapper
{
    max-width: 1440px;
    margin: 0 auto;
}

.wrong
{
    padding: 40vh 0;
    font-size: 32px;
}

.header-content
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.header-logo
{
    font-size: 30px;
}

.header-form
{
    position: relative;
}

.header-search
{
    padding: 3px;
    font-size: 20px;
    border: 2px solid #edeef0;
    border-radius: 5px;
    outline: none;
}

.header-search__cross
{
    position: absolute;
    width: 25px;
    height: 25px;
    top: 3px;
    right: 10px;

    cursor: pointer;
}

.images
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 20px;
}

.image-block
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;
    margin: 10px;
    position: relative;
}

.image-block__content
{
    position: relative;
}

.image-content
{
    height: 240px;
}

.image
{
    max-width: 100%;
    height: 100%;
}

.image-shadow
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    height: 100%;

    z-index: 1;
    background-color: #000000;
    opacity: 0.1;
    transition: 0.1s;
}

.image-shadow:hover
{
    background-color: grey;
    cursor: pointer;
}

.image-block__info
{
    padding: 10px 0;
}

.image-autor
{
    font-size: 24px;
}

.image-name
{
    font-size: 21px;
}

.image-likes
{
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.image-likes::before
{
    content: url(assets/img/like.svg);
    position: absolute;
    width: 20px;
    height: 20px;
    left: -25px;
    top: -3px;
}

.image-likes::after
{
    content: '';
    position: absolute;
    width: 70px;
    height: 20px;
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);

    background-color: #edeef0;
    border-radius: 50%;
    border: 2px solid #edeef0;
    opacity: 0.8;
    z-index: -1;

}

.footer
{
    width: 100%;
    margin-top: 20px;
    padding: 0 30px 10px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
}
.footer-content
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-date
{
    text-shadow: -2px -2px 0 #d7cfcc;
}

.footer-rslink
{
    width:60px;
    margin-left: 40px;
}

.footer-rslink
{
    position: relative;
}

.footer-rslink:hover .footer-rslink__link::after
{
    box-shadow: 0 0 20px 20px #e0d6d6;
}

.footer-rslink__link::after
{
    position: absolute;
    content: '';
    width: 2px;
    height: 2px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;

    border-radius: 50%;
    box-shadow: 0 0 10px 10px #e0d6d6;
    transition: 0.3s;
}

.footer-autor__link
{
    color: black;
    text-shadow: -2px -2px 0 #d7cfcc;
    text-decoration: none;
    transition: 0.9s;
}

.footer-autor__link:hover
{
    color: #d7cfcc;
    text-shadow: -2px -2px 0 black;
}