*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-image: url(assets/img/vagon-2[cut-1].jpg);
}

svg
{
    width: 50%;
    height: 50%;
}

.main-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* height: 1181px; */
    padding-top: 30px;
    
}

.wrapper
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 1590px;
    height: 1181px;
    margin: 0 auto;
    padding: 50px 0;
    
    background-image: url(assets/img/jail-3[cut].jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

    border: 10px ridge rgb(150, 85, 63);
}

.header-main
{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 0 30px;
}

.player-controls
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    opacity: 0.8;
}

.volume-container
{
    display: flex;
    align-items: center;
    gap: 20px;
}

.volume-img
{
    width: 50px;
    cursor: pointer;
}

.volume-slider
{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 160px;
    height: 20px;

    background-color: #e0d6d6;
    box-shadow: 0 0 0 3px rgb(67, 41, 28) inset;
    border-radius: 7px;
    cursor: pointer;
    /* transition: 0.3s; */
}

.volume-percentage
{
    width: 18px;
    height: 14px;
    margin-left: 3px;
    background-color: #9f8484;
    border-radius: 5px;
    pointer-events: none;
}

.buttons
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.btn
{
    cursor: pointer;
}

.play img
{
    width: 50px;
}

.prev img,
.next img
{
    width: 40px;
}

.who-is-move
{
    padding: 25px;
}

.who-move
{
    color: rgb(116, 246, 116);
    font-weight: 600;
    font-size: 24px;
}

.game-area
{
    /* display: flex;
    justify-content: space-between;
    row-gap: 10px;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
    aspect-ratio: 1 / 1;

    width: 31.44%; /*31.44*//*500px*/
    /* height: 42.33%; 42.33500px */

    /* background: rgb(161, 167, 133); */
    border-radius: 5px;
    background-image: url(assets/img/vagon-2[cut-3].jpg);
}

.area-item
{
    
    position: relative;
    display: flex;
    justify-content: center;

    /* padding: 8px; */
    width: 100%;
    height: 100%;
    /* width: 160px; */
    /* height: 160px; */
    /* aspect-ratio: 1 / 1; */

    border-radius: 5px;
    /* background: rgb(189, 214, 209); */
    background-image: url(assets/img/vagon-2[cut-4].jpg);
    box-shadow: 0 0 5px rgb(198, 208, 189);
    cursor: pointer;
}

.area-item:nth-of-type(1),
.area-item:nth-of-type(2),
.area-item:nth-of-type(3)
{
    grid-row: 1/2;
}

.area-item:nth-of-type(4),
.area-item:nth-of-type(5),
.area-item:nth-of-type(6)
{
    grid-row: 2/3;
}

.area-item:nth-of-type(7),
.area-item:nth-of-type(8),
.area-item:nth-of-type(9)
{
    grid-row: 3/4;
}

.area-item:nth-of-type(1),
.area-item:nth-of-type(4),
.area-item:nth-of-type(7)
{
    grid-column: 1/2;
}

.area-item:nth-of-type(2),
.area-item:nth-of-type(5),
.area-item:nth-of-type(8)
{
    grid-column: 2/3;
}

.area-item:nth-of-type(3),
.area-item:nth-of-type(6),
.area-item:nth-of-type(9)
{
    grid-column: 3/4;
}

.area-item:hover
{
    background: rgb(194, 194, 194);
}

.crosses
{
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 38px;
    color: rgb(135, 220, 250);
}

.noughts
{
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 38px;
    color: rgb(148, 255, 124);
}

.winColor
{
    font-size: 50px;
    font-weight: 900;
    color: rgb(21, 168, 21);
    background: gold;
}

.end-game-result
{
    display: none;
    flex-direction: column;
    margin-top: 24px;
}

.result-winner
{
    margin-bottom: 12px;
    font-size: 25px;
}

.winner-text
{
    font-size: 24px;
    color: rgb(0, 21, 255);
}

.new-game-btn
{
    padding: 12px;
    
    font-weight: 600;
    text-align: center;
    color: white;

    background: rgb(55, 196, 55);
    border-radius: 12px;
    cursor: pointer;
}

.new-game-btn:hover
{
    background: rgb(82, 229, 82);
}

.footer
{
    width: 100%;
    margin-top: 20px;
    padding: 0 30px 10px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
}
.footer-content
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-date
{
    text-shadow: -2px -2px 0 #d7cfcc;
}

.footer-rslink
{
    width:60px;
    margin-left: 40px;
}

.footer-rslink
{
    position: relative;
}

.footer-rslink:hover .footer-rslink__link::after
{
    box-shadow: 0 0 20px 20px #e0d6d6;
}

.footer-rslink__link::after
{
    position: absolute;
    content: '';
    width: 2px;
    height: 2px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;

    border-radius: 50%;
    box-shadow: 0 0 10px 10px #e0d6d6;
    transition: 0.3s;
}

.footer-autor__link
{
    color: black;
    text-shadow: -2px -2px 0 #d7cfcc;
    text-decoration: none;
    transition: 0.9s;
}

.footer-autor__link:hover
{
    color: #d7cfcc;
    text-shadow: -2px -2px 0 black;
}